In [22]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import pandas as pd

In [9]:
# Create engine using the `demographics.sqlite` database file
engine = create_engine("sqlite:///USEnergy.sqlite")

In [10]:
# Declare a Base using `automap_base()`
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [29]:
# Print all of the classes mapped to the Base
print(Base.classes.keys())

[]

In [13]:
# Use the Inspector to explore the database and print the table names
inspector = inspect(engine)
inspector.get_table_names()

['AK Generation',
 'AL Generation',
 'AR Generation',
 'AZ Generation',
 'Average Energy Prices',
 'CA Generation',
 'CO Generation',
 'CT Generation',
 'DC Generation',
 'DE Generation',
 'Electric Power Consumption',
 'End User Consumption',
 'FL Generation',
 'GA Generation',
 'IA Generation',
 'ID Generation',
 'IL Generation',
 'IN Generation',
 'KS Generation',
 'KY Generation',
 'LA Generation',
 'MA Generation',
 'MD Generation',
 'ME Generation',
 'MI Generation',
 'MN Generation',
 'MO Generation',
 'MS Generation',
 'MT Generation',
 'NC Generation',
 'ND Generation',
 'NE Generation',
 'NH Generation',
 'NJ Generation',
 'NM Generation',
 'NV Generation',
 'NY Generation',
 'OH Generation',
 'OK Generation',
 'OR Generation',
 'PA Generation',
 'RI Generation',
 'SC Generation',
 'SD Generation',
 'TN Generation',
 'TX Generation',
 'UT Generation',
 'VA Generation',
 'VT Generation',
 'WA Generation',
 'WI Generation',
 'WV Generation',
 'WY Generation']

In [28]:
prices = pd.read_sql_query("SELECT * from 'Average Energy Prices'",con = engine)
prices.rename(columns = {"index": "year"},  
          inplace = True) 
prices

,year,AL,AK,AZ,AR,CA,CO,CT,DC,DE,...,SD,TN,TX,UT,VT,VA,WA,WV,WI,WY
0,2019,9.88,20.43,10.64,8.13,17.04,10.02,18.75,12.14,10.64,...,9.93,9.75,8.8,8.32,15.34,9.53,8.06,8.4,11.04,8.12
1,2018,9.63,19.36,10.85,7.78,16.58,10.02,18.41,12.03,10.55,...,9.97,9.58,8.48,8.21,15.13,9.48,8,8.72,10.58,8.09
2,2017,9.83,19.10,10.64,8.26,16.06,9.99,17.55,11.80,10.90,...,10.05,9.45,8.38,8.60,14.60,9.18,7.94,9,10.76,8.28
3,2016,9.56,17.93,10.33,8.13,15.23,9.83,17.24,11.73,11.09,...,9.83,9.23,8.43,8.72,14.46,9.09,7.68,8.98,10.67,8.19
4,2015,9.33,17.59,10.34,8.19,15.42,9.94,17.77,12.07,11.17,...,9.47,9.30,8.7,8.54,14.41,9.31,7.4,8.11,10.73,7.97
5,2014,9.27,17.46,10.18,7.90,15.15,10.06,17.05,12.11,11.22,...,9.05,9.40,8.94,8.35,14.57,9.17,7.13,7.65,10.57,7.76
6,2013,9.02,16.49,10.14,7.93,14.30,9.88,15.66,11.85,10.90,...,8.86,9.13,8.66,8.15,14.61,8.96,7.09,7.91,10.51,7.55
7,2012,9.18,16.33,9.81,7.62,13.53,9.39,15.54,11.85,11.06,...,8.49,9.27,8.55,7.84,14.22,9.07,6.94,8.14,10.28,7.19
8,2011,9.10,16.08,9.71,7.43,13.05,9.39,16.35,12.81,11.48,...,8.05,9.28,9,7.13,13.80,8.84,6.78,7.88,10.21,6.58
9,2010,8.89,14.76,9.69,7.28,13.01,9.15,17.38,13.35,11.97,...,7.82,8.61,9.34,6.94,13.24,8.69,6.66,7.45,9.78,6.20
10,2009,8.83,15.09,9.56,7.57,13.24,8.31,18.07,13.23,12.20,...,7.39,8.69,9.86,6.77,12.75,8.93,6.59,6.65,9.38,6.08
11,2008,8.59,14.74,9.11,7.60,12.49,8.59,17.80,13.18,12.38,...,7.14,8.18,10.99,6.49,12.33,8,6.55,5.61,9,5.67
12,2007,7.57,13.28,8.54,6.96,12.80,7.76,16.45,11.79,11.35,...,6.89,7.07,10.11,6.41,12.04,7.12,6.37,5.34,8.48,5.29
13,2006,7.07,12.84,8.24,6.99,12.82,7.61,14.83,11.08,10.13,...,6.70,6.97,10.34,5.99,11.37,6.86,6.14,5.04,8.13,5.27
14,2005,6.46,11.72,7.79,6.30,11.63,7.64,12.06,9.18,7.76,...,6.60,6.31,9.14,5.92,10.95,6.64,5.87,5.15,7.48,5.16
15,2004,6.08,10.99,7.45,5.67,11.35,6.95,10.26,7.47,7.53,...,6.44,6.14,7.95,5.69,11.02,6.43,5.8,5.13,6.88,4.98
16,2003,5.88,10.50,7.34,5.57,11.78,6.77,10.16,7.40,6.96,...,6.35,5.84,7.5,5.41,10.98,6.27,5.86,5.13,6.64,4.76
17,2002,5.71,10.46,7.21,5.61,12.19,6,9.71,7.34,6.91,...,6.26,5.72,6.62,5.39,10.87,6.23,5.88,5.11,6.28,4.68
18,2001,5.60,10.54,7.27,6.05,11.22,6.02,9.62,7.40,6.80,...,6.35,5.59,7.38,5.21,10.86,6.18,5.34,5.07,6.08,4.46